.container{
    background-color: aqua;
    height: 100px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
}

div{
    color: black;
    background-color: brown;
    height:80px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
